<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- metadatos -->
    <meta
      name="description"
      content="Vive, conoce, disfruta... Mundo Curiso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      name="keywords"
      content="Mundo Curioso, Viajes, Lugares hermosos, Planeta, Aventura, Conocer nuevos sitios, Emprender"
    />
    <meta name="author" content="Isaac R. Caseres" />
    <meta name="robots" content="index, follow" />
    <!-- Etiqueta OG (Open Graph) para redes sociales -->
    <meta property="og:title" content="Mundo Curioso" />
    <meta
      property="og:description"
      content="Vive, conoce, disfruta... Mundo Curiso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      property="og:image"
      content="https://www.mundocurioso.website/assets/300575567_460045519472426_2347174097804661257_n.jpg"
    />
    <meta property="og:url" content="" />
    <!-- Etiqueta Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mundo Curioso - <%= param %>" />
    <meta
      name="twitter:description"
      content="Vive, conoce, disfruta... Mundo Curioso, el lugar donde la curiosidad sobrepasa"
    />
    <meta
      name="twitter:image"
      content="https://www.mundocurioso.website/assets/300575567_460045519472426_2347174097804661257_n.jpg"
    />

    <link rel="canonical" href="https://www.mundocurioso.website" />
    <link rel="shortcut icon" href="https://www.mundocurioso.website/assets/icons8-planeta-96.png" />
    <link rel="stylesheet" href="https://www.mundocurioso.website/styles/main.css" />
    <title>Mundo Curioso - <%- param %></title>
    <style>
      .main {
        min-height: 75vh;
      }
      .main_section2_title {
        max-width: 1400px;
        padding: 0px 70px;
        margin-left: 10px aunto;
      }
      .menu{
        width: 40px;
      }
      @media screen and (max-width: 900px) {
        .main_section2 {
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between;
          align-items: flex-start;
        }

        .containers {
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
        }
        .main_section2_a {
          height: 400px;
        }
      }
    </style>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_list">
        <div class="nav_list_li1">
          <li><a href="https://www.mundocurioso.website/sobrenosotros">Sobre nosotros</a></li>
          <li><a href="https://www.mundocurioso.website/contactos">Contacto</a></li>
        </div>
        <li class="nav_list_li2">
          <a href="https://www.facebook.com/mundocurioso09" target="_blank"
            >Facebook</a
          >
        </li>
      </ul>
    </nav>
    <div class="header">
      <header class="containerTitle">
        <a href="https://www.mundocurioso.website/"><h1 class="containerTitle_title">Mundo Curioso</h1></a>
        <img
          src="https://www.mundocurioso.website/assets/Menu_icon_2_icon-icons.com_71856.svg"
          alt="menu"
          class="menu"
          onclick="abrirMenu()"
        />
        <nav class="containerTitle_nav">
          <ul class="containerTitle_nav_ul">
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Galería">Galería</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Maravillas">Maravillas</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Culturas">Culturas</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Historias">Historias</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Naturaleza">Naturaleza</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Ciencia">Ciencia</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Arte">Arte</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Gastronomia">Gastronomia</a>
            </li>
            <li class="containerTitle_nav_ul_li">
              <a href="https://www.mundocurioso.website/categoria/Viajes">Viajes</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <h2 class="main_section2_title"><%= param %></h2>
    <main class="main">
      <section class="main_section2">
        <div class="containers">
          <% if (param === "Galería") { %> <% post.forEach(elemento => { %>
          <a href="https://www.mundocurioso.website/blogs/<%= elemento._id %>" class="main_section2_a">
            <article class="main_section2_article">
              <img
                class="main_section2_article_img"
                src="<%- elemento.img %>"
                alt="<%- elemento.title %>"
              />
            </article>
          </a>
          <% }) %> <% } else { %> <% post.forEach(elemento => { %>
          <a href="https://www.mundocurioso.website/blogs/<%= elemento._id %>" class="main_section2_a">
            <article class="main_section2_article">
              <img
                class="main_section2_article_img"
                src="<%- elemento.img %>"
                alt="<%- elemento.title %>"
              />
              <h3 class="main_section2_article_title"><%- elemento.title %></h3>
              <h3 class="main_section2_article_time">
                <%- elemento.date.getDate() %> de <%-
                meses[elemento.date.getMonth()] %> de <%-
                elemento.date.getFullYear() %>
              </h3>
            </article>
          </a>
          <% }) %> <% }%>
        </div>
      </section>
    </main>
    <footer class="main_footer">
      <h3 class="main_footer_h3">Mundo Curioso</h3>
    </footer>
    <nav class="containerTitle_nav_android">
      <ul class="containerTitle_nav_ul containerTitle_nav_android">
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Galería">Galería</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Maravillas">Maravillas</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Culturas">Culturas</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Historias">Historias</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/aturaleza">Naturaleza</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Ciencia">Ciencia</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Arte">Arte</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Gastronomia">Gastronomia</a>
        </li>
        <li class="containerTitle_nav_ul_li">
          <a href="/categoria/Viajes">Viajes</a>
        </li>
      </ul>
      <img
        src="/assets/letterx_83737.svg"
        alt="X"
        class="x"
        onclick="cerrarMenu()"
      />
    </nav>
    <script>
      function abrirMenu() {
        document
          .querySelector(".containerTitle_nav_android")
          .classList.add("active");
        document.querySelector(".x").classList.add("xactive");
      }
      function cerrarMenu() {
        document
          .querySelector(".containerTitle_nav_android")
          .classList.remove("active");
        document.querySelector(".x").classList.remove("xactive");
      }
    </script>
  </body>
</html>
